* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #edede9;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:60%;
    height: 10vh;
    margin-top: 1em;

}

input {
    display: none;
}

h1{
    color:#e63946
}

label{
    background-color: #e63946;
    color: white;
    border-radius: 25px;
    padding: 15px 12px;
    cursor: pointer;
}

.container{
    height:80vh;
    width:70%;
    /* border-bottom: 2px solid #e63946; */
    margin-left: 1em;
}